<!DOCTYPE html>
<html lang="en" ng-app="app1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div ng-controller="ctrl1">
        <label for="first">First Number</label>
        <input type="text" name="first" id="first" ng-model="first">
        <label for="second">Second Number</label>
        <input type="text" id="second" name="second" ng-model="second">
        <button ng-click="updateCalculation()">Sum</button>
        <br>
        <label for="sum">Sum is</label>
        <input type="text" value="{{calculation}}" id="sum">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/test1.js"></script>
</body>
</html>